# Assignment 4

Q7 Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [1]:
#importing all required libraries
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import time

In [2]:
#connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\91981\Desktop\chromedriver_win32/chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
# entering “Data Analyst” in “Skill,Designations,Companies” field
search_fields_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_fields_designation.send_keys("Data Scientist")

In [5]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [6]:
# creating empty lists for scraping data
Name_tag=[]
company_job=[]
Designation_job=[]
Req_skill=[]
loc_job=[]

In [7]:
#Scraping the Name tag
name=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in name:
    if i.text is None:
        Name_tag.append("--")
    else:
        Name_tag.append(i.text)
Name_tag[0:2]

['Data Scientist/Analyst - Machine Learning/Deep Learning',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms']

In [8]:
#Scraping the Company Name
comp=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in comp:
    if i.text is None:
        company_job.append("--")
    else:
        company_job.append(i.text)
company_job[0:2]

['EchoIndia', '(5 Reviews)']

In [9]:
#Scraping Designation of the job
Desg=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in Desg:
    if i.text is None:
        Designation_job.append("--")
    else:
        Designation_job.append(i.text)
Designation_job[0:2]

['Data Scientist/Analyst - Machine Learning/Deep Learning',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms']

In [10]:
#Scraping Required _skill
skill=driver.find_elements_by_xpath("//ul[@class='tags has-description']")
for i in skill:
    if i.text is None:
        Req_skill.append("--")
    else:
        Req_skill.append(i.text)
Req_skill[0:2]

['IT Skills\nPython\nMachine Learning\nTableau\nPower BI\nArcGIS\nGoogle Maps\nNLP',
 'IT Skills\nPython\nMachine Learning\nData Science\nData Scientist\nData Mining\nStatistical Analyst\nMachine Learning']

In [11]:
#Scraping location
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in loc:
    if i.text is None:
        loc_job.append("--")
    else:
        loc_job.append(i.text)
loc_job[0:2]

['Delhi', 'Bengaluru']

In [12]:
#importing pandas for creating a DataFrame
import pandas as pd

In [13]:
#Creating the DataFrame
df=pd.DataFrame({"Name_tag":Name_tag[0:5],"company_job":company_job[0:5],"Designation_job":Designation_job[0:5],
                "Req_skill":Req_skill[0:5],"loc_job":loc_job[0:5]})

In [14]:
df

,Name_tag,company_job,Designation_job,Req_skill,loc_job
0,Data Scientist/Analyst - Machine Learning/Deep...,EchoIndia,Data Scientist/Analyst - Machine Learning/Deep...,IT Skills\nPython\nMachine Learning\nTableau\n...,Delhi
1,Data Scientist - Python/ MATLAB/ Machine Learn...,(5 Reviews),Data Scientist - Python/ MATLAB/ Machine Learn...,IT Skills\nPython\nMachine Learning\nData Scie...,Bengaluru
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Lead Data Scientist - Machine Learning/ Data M...,IT Skills\nPython\nMachine Learning\nData Scie...,Bengaluru
3,Data Scientist -Machine Learning,Wrackle Technologies Pvt Ltd,Data Scientist -Machine Learning,IT Skills\nData Science\nMachine Learning\nDat...,Bengaluru
4,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Data Scientist - Machine Learning (Commerce BU),Data Science\nData Enrichment\nData Scientist\...,Bengaluru

Q 9 Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [16]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [17]:
def IMDB_top_webseries(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
#Creating empty list to store the data
    Name=[]
    Year=[]
    RunTime=[]
    rating=[]
    genre=[]
    votes=[]
#Scraping the all the reqiured details
    for i in soup('img'):
        Name.append(i.attrs['alt'])
    for i in list(soup.find_all('span',attrs={'lister-item-year text-muted unbold'})):
        Year.append(i.text)
    for i in list(soup.find_all('span',attrs={'runtime'})):
        RunTime.append(i.text)
    for i in soup.find_all('div',attrs={'ipl-rating-star small'}):
        rating.append(i.get_text().replace("\n",""))
    for i in list(soup.find_all('span',attrs={'genre'})):
        genre.append(i.text)
    for i in soup.find_all('p',attrs={'text-muted text-small'}):
        votes.append(i.get_text().replace("\n",""))
#Creating DataFrame
    df=pd.DataFrame({'Name':Name[0:100],
                    'Year':Year[0:100],
                    'rating':rating[0:100],
                     'RunTime':RunTime[0:100],
                    'genre':genre[0:100],
                    'votes':votes[0:100]})
    print(df)
# Calling Function
IMDB_top_webseries("https://www.imdb.com/list/ls095964455/")

                      Name         Year rating  RunTime  \
0          Game of Thrones  (2011–2019)    9.3   57 min
1                  loading     (2016– )    8.7   51 min
2          Stranger Things     (2010– )    8.2   44 min
3                  loading  (2017–2020)    7.6   60 min
4         The Walking Dead  (2014–2020)    7.6   43 min
..                     ...          ...    ...      ...
95                 loading  (2013–2017)    7.5   42 min
96                New Girl  (2017–2019)    7.8   50 min
97                 loading  (2005–2020)    8.1   42 min
98  Agents of S.H.I.E.L.D.  (2015–2019)    7.2   45 min
99                 loading       (2018)    8.6  572 min

                                     genre  \
0   \nAction, Adventure, Drama
1     \nDrama, Fantasy, Horror
2    \nDrama, Horror, Thriller
3   \nDrama, Mystery, Thriller
4     \nDrama, Mystery, Sci-Fi
..                                     ...
95            \nDrama, Fantasy
96  \nAdventure, Comedy, Drama
97     \nCrime, Drama, Mystery
98      \nCrime, Drama, Horror
99    \nDrama, Horror, Mystery

                                                votes
0       A|57 min|Action, Adventure, Drama
1                   Stars:Emilia Clarke, Peter Din...
2                                     Votes:1,768,387
3        15|51 min|Drama, Fantasy, Horror
4                   Stars:Millie Bobby Brown, Finn...
..                                                ...
95                                      Votes:333,087
96      16+|45 min|Drama, Fantasy, Horror
97                  Stars:Joseph Morgan, Daniel Gi...
98                                      Votes:117,415
99    12+|43 min|Action, Adventure, Drama

[100 rows x 6 columns]

Q2 Scrape the details team India’s international fixtures from bcci.tv. 

Url = https://www.bcci.tv/.
    
You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [1]:
#importing Required libraries
import selenium
from selenium import webdriver
import pandas as pd

In [2]:
#connecting the webdribver
driver=webdriver.Chrome(r"C:\Users\91981\Desktop\chromedriver_win32/chromedriver.exe")

In [3]:
driver.get("https://www.bcci.tv/international/fixtures")

In [4]:
#creating an empty list to store the scraped the data
Match_title=[]
Series_title=[]
Place_title=[]
Date_title=[]
Time_title=[]

In [5]:
#Scraping the Match Title
match=driver.find_elements_by_xpath("//div[@class='fixture__teams']")
for i in match:
    if i.text is None:
        Match_title.append("--")
    else:
        Match_title.append(i.text)
Match_title[0:2]

['INDIA\nv\nENGLAND', 'INDIA\nv\nENGLAND']

In [6]:
#Scraping the Series title
series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[1]")
for i in series:
    if i.text is None:
        Series_title.append("--")
    else:
        Series_title.append(i.text)
Series_title[0:2]

['TEST', 'TEST']

In [7]:
#Scraping the Venue of Macth
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span[1]")
for i in place:
    if i.text is None:
        Place_title.append("--")
    else:
        Place_title.append(i.text)
Place_title[0:2]

['M. A. Chidambaram Stadium, Chennai', 'Sardar Patel Stadium, Ahmedabad']

In [8]:
#Scraping the Date of Macth
date=driver.find_elements_by_xpath("//div[@class='fixture__full-date']")
for i in date:
    if i.text is None:
        Date_title.append("--")[0:2]
    else:
        Date_title.append(i.text)
Date_title[0:2]

['13\nFEBRUARY\n09:30 IST', '24\nFEBRUARY\n14:30 IST']

In [9]:
#Scraping the Time of match
time=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")
for i in time:
    if i.text is None:
        Time_title.append("--")
    else:
        Time_title.append(i.text)
Time_title[0:2]

['09:30 IST', '14:30 IST']

In [10]:
#creating the DataFrame
Test=pd.DataFrame({'Match_title':Match_title[0:10],'Series_title':Series_title[0:10],'Place_title':Place_title[0:10],
                  'Date_title':Date_title[0:10],'Time_title':Time_title[0:10]})

In [11]:
Test

,Match_title,Series_title,Place_title,Date_title,Time_title
0,INDIA\nv\nENGLAND,TEST,"M. A. Chidambaram Stadium, Chennai",13\nFEBRUARY\n09:30 IST,09:30 IST
1,INDIA\nv\nENGLAND,TEST,"Sardar Patel Stadium, Ahmedabad",24\nFEBRUARY\n14:30 IST,14:30 IST
2,INDIA\nv\nENGLAND,TEST,"Sardar Patel Stadium, Ahmedabad",04\nMARCH\n09:30 IST,09:30 IST
3,INDIA\nv\nENGLAND,T20I,"Sardar Patel Stadium, Ahmedabad",12\nMARCH\n19:00 IST,19:00 IST
4,INDIA\nv\nENGLAND,T20I,"Sardar Patel Stadium, Ahmedabad",14\nMARCH\n19:00 IST,19:00 IST
5,INDIA\nv\nENGLAND,T20I,"Sardar Patel Stadium, Ahmedabad",16\nMARCH\n19:00 IST,19:00 IST
6,INDIA\nv\nENGLAND,T20I,"Sardar Patel Stadium, Ahmedabad",18\nMARCH\n19:00 IST,19:00 IST
7,INDIA\nv\nENGLAND,T20I,"Sardar Patel Stadium, Ahmedabad",20\nMARCH\n19:00 IST,19:00 IST
8,INDIA\nv\nENGLAND,ODI,"Maharashtra Cricket Association Stadium, Pune",23\nMARCH\n13:30 IST,13:30 IST
9,INDIA\nv\nENGLAND,ODI,"Maharashtra Cricket Association Stadium, Pune",26\nMARCH\n13:30 IST,13:30 IST

Q 5 Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [12]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [13]:
def Github_Respo(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    #Creating empty list to store the data
    Title=[]
    Contri=[]
    Lang=[]
    #Scraping the all the reqiured details
    for i in soup('a'):
        Title.append(i.attrs['href'])
    for i in soup('img'):
        Contri.append(i.attrs['alt'])
    for i in list(soup.find_all('div',attrs={'f6 text-gray mt-2'})):
        Lang.append(i.get_text().replace("\n",""))
  #Creating DataFrame
    respo=pd.DataFrame({'Title':Title[0:10],
                        'Contri':Contri[0:10],
                        'Lang':Lang[0:10]})
    print(respo)
    
Github_Respo("https://github.com/trending")

                                               Title         Contri  \
0                                  #start-of-content
1                                https://github.com/
2  /join?ref_cta=Sign+up&ref_loc=header+logged+ou...
3                                          /features
4                                            /mobile
5                                  /features/actions       @conwnet
6                               /features/codespaces         @xcv58
7                                 /features/packages  @nodeselector
8                                 /features/security       @kyeotic
9                             /features/code-review/   @bmoore-msft

                                                Lang
0  TypeScript        9,269        202        Buil...
1  PowerShell        9,324        12,224        B...
2  Python        1,109        158        Built by...
3  TypeScript        996        2,646        Buil...
4  JavaScript        27,284        832        Bui...
5  TypeScript        4,607        120        Buil...
6  Go        19,922        2,791        Built by ...
7  Jupyter Notebook        5,022        3,746    ...
8  Jupyter Notebook        349        14        B...
9  TypeScript        818        37        Built b...

Q6 Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billiboard.com/
    
You have to find the following details:

A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [1]:
#importing all the required libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to webdriver
driver=webdriver.Chrome(r"C:\Users\91981\Desktop\chromedriver_win32/chromedriver.exe")

In [3]:
driver.get("https://www.billboard.com/charts/hot-100")

In [4]:
#creating empty list to store the data
Song_name=[]
Artist_name=[]
Lastweek_rank=[]
Peak_rank=[]
Weeks_board=[]

In [5]:
#Scraping the Song Name 
song=driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
for i in song:
    if i.text is None:
        Song_name.append("--")
    else:
        Song_name.append(i.text)
Song_name[0:2]

['Drivers License', 'Mood']

In [6]:
#Scraping the Artist Name 
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
for i in artist:
    if i.text is None:
        Artist_name.append("--")
    else:
        Artist_name.append(i.text)
Artist_name[0:2]

['Olivia Rodrigo', '24kGoldn Featuring iann dior']

In [7]:
#Scraping the Last week Rank
lastweek=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lastweek:
    if i.text is None:
        Lastweek_rank.append("--")
    else:
        Lastweek_rank.append(i.text)
Lastweek_rank[0:2]

['1', '2']

In [8]:
#Scraping the Peak of Rank
peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:
    if i.text is None:
        Peak_rank.append("--")
    else:
        Peak_rank.append(i.text)
Peak_rank[0:2]

['1', '1']

In [9]:
#Scraping the Weeks of Board
weeks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks:
    if i.text is None:
        Weeks_board.append("--")
    else:
        Weeks_board.append(i.text)
Weeks_board[0:2]

['4', '26']

In [10]:
#creating the DataFrame for stored Data

In [11]:
songs=pd.DataFrame({'Song_name':Song_name[0:100],'Artist_name':Artist_name[0:100],'Lastweek_rank':Lastweek_rank[0:100],
                   'Peak_rank':Peak_rank[0:100],'Weeks_board':Weeks_board[0:100]})

In [12]:
songs

,Song_name,Artist_name,Lastweek_rank,Peak_rank,Weeks_board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

Q4 Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
    
You have to find following details:

A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

In [1]:
#importing Required Libraries

In [10]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [11]:
#Connecting to the webdriver

In [12]:
driver=webdriver.Chrome(r"C:\Users\91981\Desktop\chromedriver_win32/chromedriver.exe")

In [13]:
driver.get("http://statisticstimes.com/economy/india/indian-states-gdp.php")

In [14]:
#creating a empty list to store the Scraped Data

In [15]:
Rank_tag=[]
State_Name=[]
GSDP_year=[]
GSDP_tag=[]
Share_year=[]
GDP_billion=[]

In [16]:
#Scraping the Rank
rank=driver.find_elements_by_xpath("//td[@class='data1']")
for i in rank:
    if i.text is None:
        Rank_tag.append("--")
    else:
        Rank_tag.append(i.text)
Rank_tag[0:2]

['1', '2']

In [17]:
#Scraping the State Name

State=driver.find_elements_by_xpath("//td[@class='name']")
for i in State:
    if i.text is None:
        State_Name.append("--")
    else:
        State_Name.append(i.text)
State_Name[0:2]

['Maharashtra', 'Uttar Pradesh']

In [18]:
#Scraping the GSDP year

GSDP=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
for i in GSDP:
    if i.text is None:
        GSDP_year.append("--")
    else:
        GSDP_year.append(i.text)
GSDP_year[0:2]

['2,632,792', '1,668,229']

In [19]:
#Scraping the GSDP Tag

tag=driver.find_elements_by_xpath("//tr[@class='odd']/td[8]")
for i in tag:
    if i.text is None:
        GSDP_tag.append("--")
    else:
        GSDP_tag.append(i.text)
GSDP_tag[0:2]

['2,039,074', '1,215,307']

In [20]:
#Scraping the Share _year
share=driver.find_elements_by_xpath("//td[@class='data']")
for i in share:
    if i.text is None:
        Share_year.append("--")
    else:
        Share_year.append(i.text)
Share_year[0:2]

['-', '13.88%']

In [22]:
#Scraping the GDP Billion
GDP=driver.find_elements_by_xpath("//tr[@class='odd']/td[6]")
for i in GDP:
    if i.text is None:
        GDP_billion.append("--")
    else:
        GDP_billion.append(i.text)
GDP_billion[0:2]

['398.145', '246.529']

In [24]:
GDP=pd.DataFrame({'Rank_tag':Rank_tag[0:10],'State_Name':State_Name[0:10],
                 'GSDP_year':GSDP_year[0:10],'GSDP_tag':GSDP_tag[0:10],
                 'Share_year':Share_year[0:10],'GDP_billion':GDP_billion[0:10]})

In [25]:
GDP

  Rank_tag      State_Name  GSDP_year   GSDP_tag Share_year GDP_billion
0        1     Maharashtra  2,632,792  2,039,074          -     398.145
1        2   Uttar Pradesh  1,668,229  1,215,307     13.88%     246.529
2        3      Tamil Nadu  1,630,208  1,186,379    398.145     227.276
3        4       Karnataka  1,544,399    677,428          -     142.543
4        5         Gujarat  1,502,899    612,828  2,039,074     130.210
5        6     West Bengal  1,089,898    559,412  1,794,508     118.206
6        7       Rajasthan    942,586    531,085      8.79%     111.024
7        8  Andhra Pradesh    862,957    397,669    252.278      79.601
8        9       Telangana    861,031    234,048  1,187,277      47.769
9       10  Madhya Pradesh    809,592    224,986  1,137,469      44.945